.heading{
    background-color: rgb(76, 213, 135);
}
div {
    background-color: #8da895;
}







body {
    color: #0e368c;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


h1 {
    color: #8c4373;
    line-height: 3;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;

}

h2 {
    color: #6d5ac4;
    font-family: 'Montserrat',       sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #5422c0;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
    border: dotted #1e9a58 6px;
    border-bottom: none;
    width: 14%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    <br>
    
}

.class {}
.class2 {}
.CLASS3 {}
.class4 {}
.cl2
